*{
    /*font-family: "Source Han Sans Light", "DengXian", "Microsoft YaHei Light";*/
    font-family: "Microsoft YaHei Light";
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255, 255, 255, 0.51);
}

body{
    margin: 0 0 0 0;
}

.fa{
    /*transition: text-shadow 200ms, color 200ms;*/
}

.left_container_full{
    width: 100%;
}

.left_container_half{
    width: calc(100% - 20rem);
}

.user_panel{
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.panel{
    position: absolute;
    right: 0;
    top: 0;
    width: 20rem;
    height: 100%;
    background-color: #252525;
}

#avatar {
    /*position: relative;*/
    position: absolute;
    background-image: url('../res/avatar_example.jpg');
    /*width: 3rem;*/
    /*height: 3rem;*/
    /*top: 0.2rem;*/
    /*left: 0.2rem;*/
    width: 90%;
    left: 5%;
    height: 90%;
    top: 5%;

    background-size: cover;

    background-position: top center;

    border-radius: 50%;
}

#avatar_border{
    position: absolute;
    overflow: hidden;
    z-index: 100;
    width: 3.4rem;
    height: 3.4rem;
    top: 1rem;
    right: 1rem;
    background-size: cover;
    border-radius: 50%;
    background-color: #fff;
    transition: box-shadow 200ms, width 200ms, height 200ms;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

#avatar_border:hover{
    width: 4.5rem;
    height: 4.5rem;

    -webkit-box-shadow: 0px 0px 10px 0px rgb(234, 185, 120);
    -moz-box-shadow: 0px 0px 10px 0px rgb(234, 185, 120);
    box-shadow: 0px 0px 10px 0px rgb(234, 185, 120);
}

.panel_container{
    position: absolute;
    left: 5%;
    top: 0;
    width: 90%;
    height: 98%;
    color: #e5e4e8;
}

.panel_loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: rgba(25, 25, 25, 0.7);
}

#panel_loading_progress{
    height: 100%;
    width: 50%;
    left: 0;
    background-color: #7caaed;
    overflow: hidden;
}

.progress_animation{
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0.5;
    background-image: url("../res/progress.gif");
}


.user_info{
    position: absolute;
    /*background-color: coral;*/
    float: right;
    top: 1rem;
    right: 4.5rem;
    user-select: none;
    -moz-user-select: none;
}

#user_name{
    /*position: absolute;*/
    font-size: 1.2rem;
}

#user_authentic{
    font-size: 0.8rem;
    opacity: 0.85;
}

#user_authentic .fa{
    transition: text-shadow 200ms, color 200ms;
}


#user_authentic:hover > .fa{
    color: #99bb95;
    /*text-shadow: 0px 0px 2px rgb(165, 245, 184);*/
}

#user_id{
    position: absolute;
    font-size: 6rem;
    opacity: 0.08;
    top: -3rem;
    right: -5rem;
}

#pre_page_btn{
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: 2rem;
    /*z-index: 100;*/
    text-align: center;
    line-height:2rem;
    font-size: 2rem;
    opacity: 0.65;
    transition: opacity 200ms;
    cursor: pointer;
}

#pre_page_btn:hover{
    opacity: 1;
}

#pre_page_btn .fa-arrow-circle-o-left{
    /*display: none;*/
    position: absolute;
    opacity: 0;
    transition: opacity 200ms;
}

#pre_page_btn .fa-arrow-circle-left{
    /*display: block;*/
    position: absolute;
    opacity: 1;
    transition: opacity 200ms;
}


#pre_page_btn:hover > .fa-arrow-circle-o-left{
    /*display: block;*/
    opacity: 1;
}

#pre_page_btn:hover > .fa-arrow-circle-left{
    /*display: none;*/
    opacity: 0;
}

.panel_pages{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: calc(100% - 8rem);
    top: 5rem;
}

.basic_page{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #4cd964;*/
    right: -40rem;
    transition: right 200ms;
}

.pre_page{
    right: 20rem;
}

.current_page{
    right: 0;
}


.next_page{
    right: -20rem;
}

#event_search_input{
    position: relative;
    display: inline;
    font-size: 1.1rem;
    text-align: center;
    top: -0.2rem;
    width: 90%;
    transition: color 200ms;
    border: none;
    color: #969696;
    background: transparent;
    /*background-color: rgb(42,45,51);*/
}

#event_search_input:focus{
    color: #e5e4e8;
    outline: none;
}

#event_search_input:hover{
    color: #e5e4e8;
}

.search_bar{
    text-align: center;
    margin-top: 1rem;
    color: #969696;
    opacity: 1;
}

.search_bar i{
    float: right;
    position: relative;
    font-size: 0.9rem;
    /*opacity: 0.5;*/
}

.search_bar hr{
    width: 0;
    margin: 0 0 0 0;
    opacity: 0;
}

#search_container{
    position: relative;
    margin-top: 1rem;
    background: transparent;
    max-height: calc(100% - 5rem);
    overflow-y: scroll;
}

.events_nomore{
    position: relative;
    /*left: -0.5rem;*/
    width: 100%;
    text-align: center;
    color: #969696;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: color 200ms;
}

.events_nomore i{
    opacity: 0;
    transition: color 200ms, opacity 200ms;
}

.events_nomore:hover{
    color: #e5e4e8;
}

.events_nomore:hover i{
    opacity: 1;
    color: #4e4439;
}

.events{
    overflow: hidden;
    position: relative;
    width: 95%;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 0.5rem;
    /*border-radius: 0.3rem;*/
    /*height: 5rem;*/
    height: 4rem;
    transition: color 200ms, background-color 200ms, box-shadow 200ms;
    cursor: pointer;
}

.events:hover{
    color: #2a2d33;
    background: rgb(229, 228, 232);
    -webkit-box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.5);
}

.events_id{
    position: absolute;
    opacity: 0.05;
    font-size: 6rem;
    top: -2rem;
    left: -1rem;
    user-select: none;
    -moz-user-select: none;
}

.events_name{
    position: absolute;
    top: 0.2rem;
    left: 0.5rem;
    font-size: 1.3rem;
}

.event_status_bar{
    position: absolute;
    bottom: 0.2rem;
    left: 0.5rem;
    width: 90%;
    font-size: 0.8rem;
    /*color: #969696;*/
    user-select: none;
    -moz-user-select: none;
    text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.2);
    /*transition: color 200ms;*/
}

.event_status_bar i{
    /*transition: color 200ms;*/
}

.event_status_bar span{
    position: absolute;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 3rem;
    /*transition: color 200ms;*/
}

.comments_count{
    margin-left: 0.3rem;
}

.event_status_bar .fa-comments{
    margin-left: 3rem;
}

#custom_add_btn{
    position: relative;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    color: #e5e4e8;
    background-color: rgb(124, 170, 237);
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: center;
    line-height:2rem;
    user-select: none;
    -moz-user-select: none;
    transition: color 200ms, background-color 200ms;
}

#custom_add_btn:hover{
    color: rgb(124, 170, 237);
    background-color: #e5e4e8;
}

#warning_calendar{
    position: absolute;
    top: 0.2rem;
    left: 0.4rem;
    font-size: 1.2rem;
    color: #d47174;
    opacity: 0.8;
}

#warning_calendar_pick_limit{
    display: none;
}

.panel_date_picker{
    position: absolute;
    width: 100%;
    height: 18rem;
    bottom: 5rem;
    /*background-color: #525252;*/
    color: #969696;
    user-select: none;
    -moz-user-select: none;
}

#panel_picker_year{
    font-size: 1.5rem;
    display: inline;
    float: right;
    margin-right: 1rem;
    transition: color 200ms;
}

#panel_picker_year:hover{
    color: #e5e4e8;
}

#panel_picker_month{
    font-size: 1.5rem;
    display: inline;
    float: right;
    margin-right: 1rem;
    transition: color 200ms;
}

#panel_picker_month:hover{
    color: #e5e4e8;
}

.mouth_change{
    font-size: 1.2rem;
    display: inline;
    margin-left: 1rem;
}

.mouth_change i{
    transition: color 200ms;
}

.mouth_change i:hover{
    color: #e5e4e8;
}

#panel_picker_day{
    position: absolute;
    width: 100%;
    height: 88%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.picker_week{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.picker_day_t{
    flex: 1;
    box-sizing: border-box;
    text-align:center;
}

.picker_day{
    flex: 1;
    box-sizing: border-box;
    text-align:center;
    border: 2px solid rgba(255,255,255,0);
    transition: border-color 200ms, color 200ms;
    cursor: pointer;
    line-height:2rem;
    color: #646464;
}

.day_highlight{
    color: #969696;;
}

.day_today{
    background-color: rgb(234, 185, 120);
    color: #e5e4e8;
}

.day_current{
    border: 2px solid rgb(229, 228, 232);
    color: #e5e4e8;
}

.picker_day:hover{
    border: 2px solid rgb(234, 185, 120);
    color: #e5e4e8;
}

.logout{
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    left: 6rem;
    opacity: 0.35;
    transition: opacity 200ms;
    cursor: pointer;
}

.logout i{
    transition: color 200ms;
}

.logout:hover{
    opacity: 1;
}

.logout:hover i{
    color: #d47174;
}

.noflame_input{
    outline: none;
    border-style: none;
    background-color: transparent;
}